/* ========= Base ========= */
* {
  font-family: FiraCode;
  font-size: 13px;
  min-height: 15px;
  color: white;
  margin: 0.15rem 0rem;
}

#waybar {
  background: transparent;
  color: #c6d0f5;
  margin: 0 0;
}

/* ========= Workspaces ========= */
#workspaces {
  border-radius: 5px;
  margin-left: 1rem;
  margin-right: 1rem;
  background: #2c2c2c;
  padding: 0rem 1rem;
}

#workspaces button {
  color: #babbf1;
  border-radius: 5px;
  padding: 0rem 0.4rem;
}

#workspaces button.active {
  color: #99d1db;
  border-radius: 5px;
}

#workspaces button:hover {
  color: #85c1dc;
  border-radius: 5px;
}

/* ========= Center ========= */
#center_block {
  background: #2c2c2c;
  border-radius: 5px;
  padding: 0rem 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
}
#clock {
  color: #8caaee;
  padding: 0rem 1rem;
  border-radius: 5px;
}

#custom-weather {
  color: #99d1db;
}

#language {
  color: #d0bfff;
}

/* ========= System Stats ========= */
#cpu,
#custom-gpu-usage,
#memory,
#disk,
#temperature,
#systemd-failed-units {
  padding: 0rem 0.3rem;
}

#system_info {
  background: #2c2c2c;
  border-radius: 5px;
  padding: 0rem 1rem;
}

#cpu {
  color: #d3869b;
}

#custom-gpu-usage {
  color: #a6d189;
}

#memory {
  color: #ef9f76;
}

#disk {
  color: #8caaee;
}

#temperature {
  color: #ef9f76;
}

#pulseaudio,
#backlight,
#network,
#bluetooth #battery {
  padding: 0rem 0.5rem;
}

/* ========= Audio & Brightness ========= */
#pulseaudio {
  color: #ea999c;
}

#backlight {
  color: #e5c890;
}

/* ========= Connectivity ========= */
#network,
#bluetooth {
  color: #99d1db;
}

/* ========= Battery ========= */
#battery {
  color: #a6d189;
  padding-left: 0.5rem;
}

#battery.charging {
  color: #a6d189;
}

#battery.warning:not(.charging) {
  color: #e78284;
  padding-left: 0.5rem;
}

#audio_network {
  background: #2c2c2c;
  border-radius: 5px;
  padding: 0rem 1rem;
}

/* ========= Tray ========= */
#tray {
  background: #2c2c2c;
  color: white;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 5px;
  padding: 0rem 1rem;
}

/* ========= Productivity / Custom ========= */
#custom-work {
  background: #2c2c2c;
  color: #ef9f76;
  padding: 0rem 1rem;
  border-radius: 5px;
  margin-left: 1rem;
}
