configs/tmux/plugins/
configs/gkt-3.0/bookmarks
configs/gkt-3.0/servers
configs/nvim
configs/wezterm/wezterm
configs/zsh/prompt.zsh.zwc
configs/systemd/user/**
configs/docker/buildx/**
configs/gh/hosts.yml
configs/ncspot/userstate.cbor
